* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: century-gothic;
  src: url(../Fonts/century-gothic/GOTHIC.TTF);
}
@font-face {
  font-family: Lemon-Milk-Medium;
  src: url(../Fonts/lemon-milk/LEMONMILK-Medium.otf);
}
@font-face {
  font-family: Futura-Medium;
  src: url(../Fonts/futura/futura\ medium\ bt.ttf);
}
@font-face {
  font-family: Futura-Book;
  src: url(../Fonts/futura/Futura\ Book\ font.ttf);
}
@font-face {
  font-family: Futura-Heavy;
  src: url(../Fonts/futura/Futura\ Heavy\ font.ttf);
}
@font-face {
  font-family: Jost;
  src: url(../Fonts/Jost/Jost-Regular.ttf);
}
nav {
  background: linear-gradient(271deg, #4A1C26 -5.65%, #6B2E3B 117.86%);
  padding: 0px !important;
}
nav .navbar-brand {
  height: 88px;
  border-radius: 0px 0px 14px 14px;
  background: #D9D9D9;
  box-shadow: 0px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
  padding: 9px 21px;
  z-index: 350;
}
nav .navbar-brand img {
  width: 136px;
  height: 71px;
}
nav a {
  color: #fff !important;
  font-family: century-gothic;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
nav button {
  border: 1px solid #FFF;
  background-color: #4A1C26;
  padding: 2px 10px;
}

.banner {
  height: 610px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
}
.banner .img-1 {
  width: 100%;
  height: 100%;
}
.banner .cloud-1 {
  position: absolute;
  right: 20px;
  top: 35px;
  z-index: 300;
}
.banner .cloud-2 {
  position: absolute;
  right: 35%;
  top: 35px;
  z-index: 300;
}
.banner .building {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
}
.banner .building-bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.banner .building-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.banner .text-wrap {
  position: absolute;
  left: 10%;
  top: 30%;
}
.banner .text-wrap h6,
.banner .text-wrap p {
  font-family: Futura-Medium;
  color: #2B2B2B;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 10px;
}
.banner .text-wrap h1,
.banner .text-wrap h2 {
  color: #4A1C26;
  font-family: century-gothic;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 10px 0px;
  text-transform: uppercase;
}

.about {
  overflow: hidden;
  background: url(../Images/about-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
.about .content-wrap {
  padding-left: 40px;
}
.about .content-wrap h2 {
  color: #4A1C26;
  font-family: Lemon-Milk-Medium;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about .content-wrap p {
  color: #1D1D1D;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.4px;
}
.about .content-wrap button {
  padding: 5px 60px;
  border: none;
  background-color: #D9D9D9;
}
.about .content-wrap button a {
  color: #4A1C26;
  font-family: Futura-Medium;
  font-size: 32.973px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.659px;
  text-transform: uppercase;
}
.about .boto p {
  color: #252525;
  font-family: Futura-Medium;
  font-size: 25.705px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.926px;
  /* 205.896% */
}
.about .boto h2 {
  color: #612532;
  font-family: Lemon-Milk-Medium;
  font-size: 40.895px;
  font-style: normal;
  font-weight: 500;
  line-height: 74.108px;
  /* 181.215% */
  text-transform: uppercase;
}

.amenities .bg {
  background: #612532;
}
.amenities .bg .cole {
  margin-top: -100px;
}

.location {
  overflow: hidden;
  background: url(../Images/loacation_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.location h2 {
  color: #4A1C26;
  font-family: Lemon-Milk-Medium;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.location p {
  color: #1D1D1D;
  font-family: Futura-Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}
@media (max-width: 666px) {
  .location p {
    font-size: 19px;
  }
}
.location h6 {
  color: #4A1C26;
  font-family: Futura-Heavy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

.gallery {
  overflow: hidden;
}
.gallery p {
  color: #252525;
  text-align: center;
  font-family: Futura-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.gallery p span {
  color: #4A1C26;
  font-family: Futura-Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.gallery h2 {
  color: #612532;
  font-family: Lemon-Milk-Medium;
  font-size: 40.895px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.gallery h5 {
  color: #1C1C1C;
  font-family: Futura-Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-top: 14px;
  letter-spacing: 0.44px;
}
.gallery hr {
  width: 223px;
  height: 1px;
  border-radius: 0.5px;
  background: #1C1C1C;
}
.gallery img {
  border-radius: 60px;
}

.form {
  padding-top: 300px;
  margin-bottom: 100px;
  background-color: #4A1C26;
  margin-top: -300px;
}
.form .container {
  background: #E7E7E7;
  border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: -50px;
}
.form h1 {
  color: #212121;
  font-family: Futura-Medium;
  font-size: 36.552px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.731px;
  text-transform: uppercase;
}
.form .form-box {
  padding: 50px;
}
.form .form-box .col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.form .form-box .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.form .form-box input {
  border-color: #000000;
  background: transparent;
  height: 31.342px;
}
.form .form-box label {
  color: #202020;
  font-family: Futura-Medium;
  font-size: 13.827px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.277px;
}
.form .form-box textarea {
  height: 135.89px;
  border-color: #000000;
  background: transparent;
}

footer {
  background: #151515;
  background-blend-mode: multiply;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer .logo-wrap {
  width: 247px;
  height: 149px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  background: #D9D9D9;
  box-shadow: 0px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .qr-box {
  width: 204px;
  height: 204px;
  flex-shrink: 0;
  background: #D9D9D9;
}
footer h3 {
  color: #FFF;
  font-family: Lemon-Milk-Medium;
  font-size: 25.474px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
}
footer p {
  color: #FFF;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 60%;
}
@media (max-width: 666px) {
  footer p {
    width: 100%;
  }
}
footer hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5019607843);
}/*# sourceMappingURL=style.css.map */