* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: century-gothic;
    src: url(../Fonts/century-gothic/GOTHIC.TTF);
}

@font-face {
    font-family: Lemon-Milk-Medium;
    src: url(../Fonts/lemon-milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: Futura-Medium;
    src: url(../Fonts/futura/futura\ medium\ bt.ttf);
}

@font-face {
    font-family: Futura-Book;
    src: url(../Fonts/futura/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: Futura-Heavy;
    src: url(../Fonts/futura/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../Fonts/Jost/Jost-Regular.ttf);
}




nav {
    background: #59392C;
    height: 64px;
    padding: 0px !important;

    .navbar-brand {
        height: 88px;
        border-radius: 0px 0px 14px 14px;
        background: #D9D9D9;
        box-shadow: 0px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
        padding: 9px 21px;
        z-index: 350;

        @media (max-width:991px) {
            height: 66px;
        }

        img {
            width: 136px;
            height: 71px;

            @media (max-width:991px) {
                width: 120px;
                height: 55px;
            }
        }
    }

    a {
        color: #fff !important;
        font-family: century-gothic;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        transition: 200ms;
        &:hover{
            border: 1px solid #fff;
        }
    }

    button {
        border: 1px solid #FFF;
        background-color: #59392C;
        padding: 2px 10px;
    }

    @media (max-width:991px) {
        .navbar-collapse {
            background: linear-gradient(271deg, #4A1C26 -5.65%, #6B2E3B 117.86%);
        }
    }
}

.banner {
    height: 610px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 3rem;

    .img-1 {
        width: 100%;
        height: 100%;
        // position: relative;
    }

    .cloud-1 {
        position: absolute;
        right: 20px;
        top: 35px;
        z-index: 300;
    }

    .cloud-2 {
        position: absolute;
        right: 35%;
        top: 35px;
        z-index: 300;
    }

    .building {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 3;
    }

    .building-bg {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .building-bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .text-wrap {
        position: absolute;
        left: 10%;
        top: 30%;

        h6,
        p {
            font-family: Futura-Medium;
            color: #2B2B2B;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0px;
        }

        h1,
        h2 {
            color: #59392C;
            font-family: century-gothic;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            padding: 10px 0px;
            text-transform: uppercase;
            margin-bottom: 0px;
            margin-top: 10px;
        }
    }
}

.phone-banner {
    width: 100%;
    height: 324px;
    position: relative;
    margin-top: 60px;
    overflow: hidden;

    .phone-bg {
        width: 100%;
        height: 100%;
    }

    .phone-banner {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .text-wrap {
        position: absolute;
        padding: 0px 50px;
        bottom: 0px;

        h6 {
            color: #FFF;
            text-align: center;
            font-family: Futura-Medium;
            font-size: 10.426px;
            font-style: normal;
            font-weight: 400;
            line-height: 12.743px;
            /* 122.222% */
        }

        h2 {
            color: #FFF;
            text-shadow: 0px 1.158px 1.738px rgba(0, 0, 0, 0.53);
            font-family: century-gothic;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 12.383px;
            /* 77.395% */
            text-transform: uppercase;
            text-align: center;

            span {
                color: #FFF;
                font-family: Futura-Medium;
                font-size: 9.943px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                text-align: center;
                text-align: center;
            }
        }
    }
}

.about {
    overflow: hidden;
    background: url(../Images/about-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 68px;

    @media (max-width:774px) {
        padding-bottom: 30px;
    }

    .content-wrap {
        padding-left: 40px;

        @media (max-width:991px) {
            padding: inherit;
            padding-top: 18px;
        }

        h2 {
            color: #59392C;
            font-family: Lemon-Milk-Medium;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 42px;
            text-transform: uppercase;
            margin-bottom: 40px;

            @media (max-width:991px) {
                text-align: center;
                font-size: 24px;
            }
        }

        p {
            color: #1D1D1D;
            font-family: Jost;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 25.4px;

            @media (max-width:991px) {
                text-align: center;
                font-size: 16px;
            }
        }

        button {
            padding: 5px 60px;
            border: none;
            background-color: #D9D9D9;

            a {
                color: #4A1C26;
                font-family: Futura-Medium;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                text-decoration: none;
                letter-spacing: 0.659px;
                text-transform: uppercase;

                @media (max-width:991px) {
                    font-size: 16px;
                }
            }
            &:hover{
                background-color: #4A1C26;
                color: #D9D9D9;
            }
            &:hover a{
                color: #D9D9D9;
            }
        }
    }

    .boto {
        @media (max-width:991px) {
            margin-top: 30px;
        }

        p {
            color: #252525;
            font-family: Futura-Medium;
            font-size: 25.705px;
            font-style: normal;
            font-weight: 400;
        }

        h2 {
            color: #59392C;
            font-family: Lemon-Milk-Medium;
            font-size: 40.895px;
            font-style: normal;
            font-weight: 500;
            line-height: 74.108px;
            /* 181.215% */
            text-transform: uppercase;
        }
    }
}

.phone-about {
    h2 {
        color: #59392C;
        text-align: center;
        font-family: Lemon-Milk-Medium;
        font-size: 17.92px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        /* 143.678% */
        text-transform: uppercase;
        margin: 23px 40px;
    }

    img {
        position: relative;
        right: 0px;
    }

    p {
        color: #1D1D1D;
        text-align: center;
        font-family: Futura-Book;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        /* 125% */
        margin: 19px 0px;
    }

    button {
        border: none;
        background: #59392C;
        padding: 4px 20px;
        margin-bottom: 38px;

        a {
            color: #FFF;
            font-family: Futura-Medium;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 10.667px;
            /* 86.42% */
            letter-spacing: 0.247px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.amenities {
    .bg {
        background: #59392C;

        .cole {
            margin-top: -100px;

            @media (max-width:990px) {
                margin-top: 0px;
            }
        }

        .carde {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                border-top-left-radius: 200px;
                border-top-right-radius: 200px;
                margin: 30px 0px;
                width: 100%;
            }

            .content-wrap {
                position: absolute;
                bottom: -180px;
                transition: all 0.4s;

                h6 {
                    font-family: Futura-Medium;
                    color: #FFF;
                    text-shadow: -2px 3px 2.2px rgba(0, 0, 0, 0.32);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                hr {
                    background: #FFF;
                    border: 2px solid #FFF;
                }

                h2 {
                    color: #FFF;
                    text-align: center;
                    text-shadow: -2px 3px 2.2px rgba(0, 0, 0, 0.32);
                    font-family: Lemon-Milk-Medium;
                    font-size: 30px;
                    font-style: normal;
                    letter-spacing: 2.1px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                button {
                    background: transparent;
                    border: 1px solid #FFF;

                    a {
                        color: #FFF;
                        font-family: Futura-Medium;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 7px 16px;
                    }
                }
            }

            &:hover .content-wrap {
                bottom: 70px;
            }

            &:hover img {
                filter: brightness(0.6);
            }
        }
    }

}

.phone-aminities {

    background: #59392C;
    p{
        color: #fff;
font-family: Futura-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
    }
    h2{
        color: #ffffff;
font-family: Lemon-Milk-Medium;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 111.765% */
text-transform: uppercase;
    }
    .carde {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            margin: 30px 0px;
            width: 100%;
            filter: brightness(0.9);

        }

        .content-wrap {
            position: absolute;
            bottom: -180px;
            transition: all 0.4s;
            bottom: 70px;

            h6 {
                font-family: Futura-Medium;
                color: #FFF;
                text-shadow: -2px 3px 2.2px rgba(0, 0, 0, 0.32);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-transform: uppercase;
            }

            hr {
                background: #FFF;
                border: 2px solid #FFF;
            }

            h2 {
                color: #FFF;
                text-align: center;
                text-shadow: -2px 3px 2.2px rgba(0, 0, 0, 0.32);
                font-family: Lemon-Milk-Medium;
                font-size: 18px;
                font-style: normal;
                letter-spacing: 2.1px;
                font-weight: 500;
                text-transform: uppercase;
            }

            button {
                background: transparent;
                border: 1px solid #FFF;

                a {
                    color: #FFF;
                    font-family: Futura-Medium;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 7px 16px;
                }
            }
        }
    }


}

.location {
    overflow: hidden;
    background: url(../Images/loacation_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: #59392C;
        font-family: Lemon-Milk-Medium;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }

    p {
        color: #1D1D1D;
        font-family: Futura-Medium;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        margin: 0px;

        @media (max-width:666px) {
            font-size: 19px;
        }
    }

    h6 {
        color: #59392C;
        font-family: Futura-Heavy;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin: 0px;
    }
}

.location-phone {
    h1 {
        color: #59392C;
        font-family: Lemon-Milk-Medium;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.025px;
        /* 135.441% */
        text-transform: uppercase;
        margin-top: 35px;
        margin-bottom: 0px;
    }

    h5 {
        color: #1D1D1D;
        font-family: Futura-Medium;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.898px;
        /* 132.485% */
    }

    img {
        margin: 14px 0px;
    }

    h2 {
        color: #59392C;
        font-family: Futura-Heavy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.165px;
        /* 143.045% */
        margin: 5px 0px;
    }

    h6 {
        color: #1E1E1E;
        font-family: Futura-Book;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.063px;
        /* 134.031% */
        margin: 0px;
    }

    p {
        color: #1E1E1E;
        font-family: Futura-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.063px;
        /* 134.031% */
        margin: 0px;
    }
}

.floor {
    overflow: hidden;

    hr {
        background: #000;
        border: 1px solid #000;
        width: 50%;
    }


    p {
        color: #252525;
        font-family: Futura-Medium;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
    }

    h1 {
        color: #59392C;
        font-family: Lemon-Milk-Medium;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }

    .tab-content {
        padding: 30px 0px;
        background: #59392C;

        .img-box {
            height: 385px;
            border-radius: 29px;
            border: 1px solid #FFF;
            background: #D9D9D9;
            flex: 1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .flat-size {
            flex: 1;
        }

        .features {
            flex: 1;
        }

        h4 {
            color: #F6F6F6;
            font-family: Futura-Medium;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
        }

        .grey-box {
            border-radius: 10px;
            background: #D9D9D9;
            padding: 10px;
            width: fit-content;
        }

        .load {
            color: #212121;
            font-family: Futura-Medium;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }

        span {
            color: #212121;
            font-family: Futura-Medium;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.phone-floor {
    overflow: hidden;
    padding-top: 35px;

    hr {
        background: #000;
        border: 1px solid #000;
        width: 50%;
    }


    p {
        color: #252525;
        font-family: Futura-Medium;
        font-size: 11.469px;
        font-style: normal;
        font-weight: 400;
        line-height: 14.076px;
        /* 122.727% */
    }

    h1 {
        color: #59392C;
        font-family: Lemon-Milk-Medium;
        font-size: 18.247px;
        font-style: normal;
        font-weight: 500;
        line-height: 38.635px;
        /* 211.736% */
        text-transform: uppercase;
    }

    .tab-content {
        padding: 30px 0px;
        background: #59392C;

        .img-box {
            height: 385px;
            border-radius: 29px;
            border: 1px solid #FFF;
            background: #D9D9D9;
            flex: 1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .flat-size {
            flex: 1;
        }

        h4 {
            color: #F6F6F6;
            font-family: Futura-Medium;
            font-size: 14.13px;
            font-style: normal;
            font-weight: 400;
        }

        .grey-box {
            border-radius: 10px;
            background: #D9D9D9;
            padding: 10px;
            width: fit-content;
        }

        .load {
            color: #212121;
            font-family: Futura-Medium;
            font-size: 7px;
            font-style: normal;
            font-weight: 400;
        }

        span {
            color: #212121;
            font-family: Futura-Medium;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.gallery {
    overflow: hidden;

    p {
        color: #252525;
        text-align: center;
        font-family: Futura-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;

        span {
            color: #4A1C26;
            font-family: Futura-Medium;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
        }
    }

    h2 {
        color: #59392C;
        font-family: Lemon-Milk-Medium;
        font-size: 40.895px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 40px;
        text-transform: uppercase;
    }

    h5 {
        color: #1C1C1C;
        font-family: Futura-Medium;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        padding-top: 14px;
        letter-spacing: 0.44px;
    }

    hr {
        width: 223px;
        height: 1px;
        border-radius: 0.5px;
        background: #1C1C1C;
    }

    .bg {
        height: 1px;
        border: 1px solid #fff;
        border-radius: 0.5px;
        background: #fff;
    }

    img {
        border-radius: 60px;
    }

    .text-to-change {
        color: #fff;

        @media (max-width:556px) {
            color: #000000;
        }
    }

    .text-to-chang {
        color: #fff;
    }
}

.phone-gallery {
    background: #59392C;

    p {
        color: #FFF;
        text-align: center;
        font-family: Futura-Medium;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 15.13px;
        /* 126.085% */
    }

    h2 {
        color: #FFF;
        font-family: Lemon-Milk-Medium;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 24.208px;
        /* 127.412% */
        text-transform: uppercase;
    }
    
    h5 {
        color: #fff;
        font-family: Futura-Medium;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        padding-top: 14px;
        letter-spacing: 0.44px;
        text-align: center;
    }

    hr {
        width: 223px;
        height: 1px;
        border-radius: 0.5px;
        background: #1C1C1C;
    }

    .bg {
        height: 1px;
        border-radius: 0.5px;
        background: #fff;
    }

    img {
        border-radius: 60px;
    }

    .text-to-change {
        color: #fff;

        @media (max-width:556px) {
            color: #fff;
        }
    }

    .text-to-chang {
        color: #fff;
    }
}

.form {
    padding-top: 300px;
    background-color: #59392C;
    margin-top: -300px;
    padding-bottom: 60px;

    .container {
        background: #E7E7E7;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 50px;
    }

    h1 {
        color: #212121;
        font-family: Futura-Medium;
        font-size: 36.552px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.731px;
        text-transform: uppercase;

        span {
            color: #59392C;
            font-family: Futura-Medium;
            font-size: 41.121px;
            font-style: normal;
            font-weight: 700;
            line-height: 48.875px;
            letter-spacing: 0.822px;
            text-transform: uppercase;
        }
    }

    .regis {
        position: relative;
    }

    .regis::before {
        position: absolute;
        content: "";
        width: 1px;
        right: 0px;
        top: 0px;
        height: 410px;
        border: 1px solid #000;

        @media (max-width:994px) {
            display: none;
        }
    }

    .form-box {
        padding: 40px;

        @media (max-width:994px) {
            padding: 0px;
        }

        .col-6 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }

        .col-12 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }

        input {
            stroke-width: 0.864px;
            stroke: #000;
            background: transparent;
            height: 31.342px;
            color: #202020;
            font-family: Futura-Book;
            font-size: 13.827px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.277px;
            padding: 10px;
        }
        select{
            stroke-width: 0.864px;
            stroke: #000;
            background: transparent;
            color: #202020;
            font-family: Futura-Book;
            font-size: 13.827px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.277px;
            padding: 10px;
            width: 100%;
        }

        label {
            color: #202020;
            font-family: Futura-Book;
            font-size: 13.827px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.277px;
            position: relative;
            bottom: -10px;
            background-color: #D9D9D9;
            width: fit-content;
            padding: 0px 3px;
        }

        textarea {
            stroke-width: 0.864px;
            stroke: #000;
            background: transparent;
            height: 135.89px;
        }
        button{
            background-color: #A55B39;
            color: #fff;
            border: none;
            padding: 5px 16px;
        }
    }
}

.phone-form {
    margin: 15px 0px;

    .form-box {
        border-radius: 21px;
        border: 1px solid #4A1C26;
        background: #D9D9D9;

        h2 {
            color: #212121;
            text-align: center;
            font-family: Futura-Medium;
            font-size: 12.937px;
            font-style: normal;
            font-weight: 400;
            line-height: 17.299px;
            /* 133.714% */
            letter-spacing: 0.259px;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 19px;
            margin-bottom: 0px;

            span {
                color: #59392C;
                font-family: Futura-Medium;
                font-size: 14.554px;
                font-style: normal;
                font-weight: 700;
                line-height: 17.299px;
                letter-spacing: 0.291px;
                text-transform: uppercase;
            }
        }

        label {
            color: #202020;
            font-family: Futura-Book;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 8.934px;
            /* 89.338% */
            letter-spacing: 0.2px;
        }

        input {
            width: 100%;
            height: 30px;
            flex-shrink: 0;
            stroke: 0.447px;
            stroke: #000;
            background: transparent;
        }
        select{
            width: 100%;
            stroke-width: 0.864px;
            stroke: #000;
            background: transparent;
            color: #202020;
            font-family: Futura-Book;
            font-size: 13.827px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.277px;
            padding: 10px;
        }

        textarea {
            width: 100%;
            background: transparent;
        }

        button {
            border-radius: 1.632px;
            background: #59392C;
            box-shadow: 0px 1.305px 1.305px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;

            a {
                color: #E7E7E7;
                font-family: Lemon-Milk-Medium;
                padding: 6px 20px;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 8.158px;
                /* 67.98% */
                letter-spacing: 0.24px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

    }

}

footer {
    background: #151515;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .logo-wrap {
        width: 247px;
        height: 149px;
        flex-shrink: 0;
        border-radius: 0px 0px 30px 30px;
        background: #D9D9D9;
        box-shadow: 0px 1px 2.6px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qr-box {
        width: 204px;
        height: 204px;
        flex-shrink: 0;
        background: #D9D9D9;
    }

    h3 {
        color: #FFF;
        font-family: Lemon-Milk-Medium;
        font-size: 25.474px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 20px;
    }

    p {
        color: #FFF;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        width: 60%;

        @media (max-width:666px) {
            width: 100%;
        }
    }

    hr {
        height: 1px;
        background: rgba(255, 255, 255, 0.50);
        color: #FFFFFF80;
    }
}

.foot-phone {
    .logo-box {
        border-radius: 0px 0px 15.441px 15.441px;
        background: #D9D9D9;
        box-shadow: 0px 0.515px 1.338px 0px rgba(0, 0, 0, 0.25);
        width: 127.647px;
        height: 70px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    background: #151515;
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    h2 {
        color: #FFF;
        font-family: Lemon-Milk-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 33.656px;
        /* 224.375% */
        text-transform: uppercase;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    h6 {
        color: rgba(255, 255, 255, 0.78);
        font-family: Futura-Medium;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 4.662px;
        /* 67.98% */
    }

    p {
        color: #FFF;
        font-family: Futura-Medium;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 150% */
    }

    button {
        margin: 15px 0px;

        a {
            color: #4A1C26;
            font-family: Futura-Heavy;
            font-size: 20.08pxpx;
            font-style: normal;
            font-weight: 400;
            line-height: 13.094px;
            /* 118.182% */
            padding: 10px 5px;
            text-decoration: none;
        }
    }

    hr {
        background: rgba(255, 255, 255, 0.50);
        border: 1px solid rgba(255, 255, 255, 0.50);
    }

    h5 {
        color: #FFF;
        font-family: Futura-Book;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.326px;
        /* 90.369% */
        text-align: center;
    }
}